<header class="jumbotron jumbotron-fluid nt-header">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-xs-center">
        <h1 class="site-header">{{ site.title }}</h1>
      </div>
    </div>
  </div>
</header>

<section class="nt-navbar">
  <nav class="container">
    <div class="row">
      <div class="col-md-4 text-xs-center nt-nav text-md-right ">
        <a href="#">posts</a>
      </div>
      <div class="col-md-4 text-xs-center nt-nav">
        <a href="#">about</a>
      </div>
      <div class="col-md-4 text-xs-center nt-nav text-md-left ">
        <a href="#">contact</a>
      </div>
    </div>
  </nav>
</section>
