---
layout: default
---

{% include header.html %}

<article class="post container">

  <header class="row">
    <div class="col-xs-12 text-xs-center">
      <h1 class="post-title text-center">{{ page.title }}</h1>
      <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    </div>
  </header>
  <section class="row post-content">
    <div class="col-xs-12 offset-xs-0 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      {{ content }}
    </div>
  </section>

</article>

{% include footer.html %}